body {
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
}

#background_cycler{
    padding:0;
    margin:0;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1
}
 #background_cycler img{
    min-height: 100%;
    min-width: 1024px;

    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: auto;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center fixed;              /* optional, center the image */
    filter: brightness(55%);
    z-index:1
}
 #background_cycler img.active{
    z-index:3
}
